@namespace prte url(https://xml.provocateach.art/prte-web-components);

prte|card {
  display: block;
}

prte|card > prte|title {
  display: block;
	margin-top: 2rem;
}

.titletext {
	font-size: calc( 1.64872*var(--body-font-size) );
	font-family: var(--heading-font-fam);
}

prte|card > prte|creators {
	display: block;
}

prte|card > prte|subtitle {
	display: block;
}