@layer global, medium, component;

@layer component {

ul {
	display: block grid;
	grid-template-columns: repeat(4, minmax(10ch, 1fr));
	list-style-type: none;
	font-size: var(--body-font-size);
	padding-left: 0;
	justify-items: stretch;
}


ul > li {
	
}

a {
	color: var(--unseen-link-color);
}

a:visited {
	color: var(--seen-link-color);
}

a:hover {
	color: var(--hovered-link-color);
}

}