<link rel="stylesheet" href="/prte-web-components/prte-navigation/prte-navigation-style.css"/>
<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/pieces">Browse</a>
		</li>
		<li></li>
		<li></li>
		<!--li>
			<a href="/about">About</a>
		</li-->
	</ul>
</nav>